extends ../layout.pug
block contenido
  #page-wrapper
    .row
      .col-md-4.col-md-offset-4
        .login-panel.panel.panel-default
          .panel-heading
            h3.panel-title Registrar tipo sucursal
          .panel-body
            #aviso
            form(action="/tipos/new",method="POST",role='form',id="formNew")
              fieldset
                .form-group
                  h5  Nombre:
                  input.form-control(type="text" name="nombre" placeholder="Nombre"  required id="nombre")
                  h5  Descripción:
                  input.form-control(type="text" name="descripcion" placeholder="Descripción"  required id="descripcion")
                .form-group
                input(type="submit" value="Registrar tipo" class="btn btn-lg btn-primary btn-block")
  // jQuery
  script(src='/public/vendor/jquery/jquery.min.js')
  // Bootstrap Core JavaScript
  script(src='/public/vendor/bootstrap/js/bootstrap.min.js')
  // Metis Menu Plugin JavaScript
  script(src='/public/vendor/metisMenu/metisMenu.min.js')
  // Custom Theme JavaScript
  script(src='/public/dist/js/sb-admin-2.js')
  script(src='/public/avisos/tipoNew.js')  
