doctype html
html(lang="es")
  head
    title Inventario
    meta(charset="utf-8")
    // Bootstrap Core CSS
    link( href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")
    // MetisMenu CSS
    link( href="/public/vendor/metisMenu/metisMenu.min.css" rel="stylesheet")
    // Custom CSS
    link( href="/public/dist/css/sb-admin-2.css" rel="stylesheet")
    // DataTables CSS
    link(href='/public/vendor/datatables-plugins/dataTables.bootstrap.css', rel='stylesheet')
    // DataTables Responsive CSS
    link(href='/public/vendor/datatables-responsive/dataTables.responsive.css', rel='stylesheet')
    // Custom Fonts
    link( href="/public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
    // Favicon
    link(rel="icon" href="/public/images/icon.ico")
  body
    #wrapper
      nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/almacen')
            a(title='inventario', href='/almacen')
              img(src='/public/images/logo.png', alt='inventario' width="30%" height="30%")
          // /.navbar-header
      .container
        .row
          .col-md-4.col-md-offset-4
            .login-panel.panel.panel-default
              .panel-heading
                h3.panel-title Inicio de sesión
              .panel-body
                #aviso
                form(action="/login" method="POST" role='form' id="formLogin")
                  fieldset
                    // input normal
                    .form-group
                      input.form-control(placeholder='Nombre de usuario' name='username' type='text' id="user")
                    .form-group
                      input.form-control(placeholder='Contraseña' name='password' type='password' id="pass")
                    // boton para logearte
                    .form-group
                      input(type="submit" value="Entrar" class="btn btn-lg btn-primary btn-block", id="login")

  // jQuery
  script(src='/public/vendor/jquery/jquery.min.js')
  // Bootstrap Core JavaScript
  script(src='/public/vendor/bootstrap/js/bootstrap.min.js')
  // Metis Menu Plugin JavaScript
  script(src='/public/vendor/metisMenu/metisMenu.min.js')
  // Custom Theme JavaScript
  script(src='/public/dist/js/sb-admin-2.js')
  script(src='/public/avisos/login.js')  
