extends ../layout.pug
block contenido
  #page-wrapper
    .row
      .col-md-4.col-md-offset-4
        .login-panel.panel.panel-default
          .panel-heading
            h3.panel-title Registrar producto
          .panel-body
            #aviso
            form(action="/products/new",method="POST",role='form',id="formNew")
              fieldset
                .form-group
                  h5  Nombre:
                  input.form-control(type="text", name="nombre", placeholder="Nombre", required,id="name")
                .form-group
                  h5  Código:
                  input.form-control(type="text", name="codigo", placeholder="Codigo de barra", required,id="cb")
                .form-group
                  h5  Descripción:
                  input.form-control(type="text", name="descripcion", placeholder="Descripcion", required,id="desc")
                .form-group
                  h5  Cantidad Mínima:
                  input.form-control(type="number" placeholder="Cantidad" name="cantidad" min="0" max="10000" required,id="min")
                .form-group
                  h5  Categoría:
                  select.form-control.selectpicker(name="categoria", data-live-search="true")
                    for categoria in categorias
                      option #{categoria.nombre}
                .form-group
                input(type="submit" value="Agregar Producto" class="btn btn-lg btn-primary btn-block")

  // jQuery
  script(src='/public/vendor/jquery/jquery.min.js')
  // Bootstrap Core JavaScript
  script(src='/public/vendor/bootstrap/js/bootstrap.min.js')
  // Metis Menu Plugin JavaScript
  script(src='/public/vendor/metisMenu/metisMenu.min.js')
  // Custom Theme JavaScript
  script(src='/public/dist/js/sb-admin-2.js')
  script(src='/public/dist/js/bootstrap-select.min.js')
  script(src='/public/avisos/productoNew.js')  
